@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;800&family=JetBrains+Mono:wght@400;600&family=Inter:wght@300;400;600&display=swap');

/* ==================================================
   GLOBAL / RESET
================================================== */

* {
    box-sizing: border-box;
    transition: 1s;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(128, 123, 123);
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.3px;
}

/* global fonts */

.code_block,
#text_code,
pre {
    font-family: 'JetBrains Mono', monospace;
}

#menu div p {
    font-family: 'Orbitron', sans-serif;
}

/* Dla ekranów telefonów (max-width: 600px) */
@media (max-width: 600px) {
    body {
        font-size: 14px; /* Zmniejsz rozmiar czcionki */
    }

    #menu {
        flex-direction: column; /* Menu w kolumnie */
        gap: 10px; /* Zmniejsz odstępy */
    }

    #menu div p {
        font-size: 12px; /* Mniejszy tekst w menu */
        padding: 5px; /* Mniejsze odstępy */
    }

    #info, #text {
        width: 100%; /* Rozciągnij sekcje na całą szerokość */
        margin: 10px 0;
    }

    #footer_menu {
        flex-direction: column; /* Stopka w kolumnie */
        gap: 10px;
    }
}

/* Dla ekranów tabletów (max-width: 1024px) */
@media (max-width: 1024px) {
    #menu {
        flex-wrap: wrap; /* Zawijanie elementów menu */
    }

    #info, #text {
        width: 80%; /* Zmniejsz szerokość sekcji */
    }
}
